@{
    ViewData["Title"] = "About";
}

<div class="jumbotron bg-secondary d-flex align-items-center justify-content-center mt-4" style="width: 100%; height: 300px;">
    <div class="text-center">
        <h1 class="text-light align-content-start">About</h1>
        <p class="text-light">
            Add text for About
        </p>
    </div>
</div>