@{
    ViewData["Title"] = "Home Page";
}

<div class="List-group">
    <a asp-controller="Product" asp-action="List" class="list-group-item">Manage Product</a>
    <a asp-controller="Categories" asp-action="List" class="list-group-item">Manage Categories</a>
    <a asp-controller="Vendors" asp-action="List" class="list-group-item">Manage Vendorst</a>
    <a asp-controller="Employees" asp-action="List" class="list-group-item">Manage Employees</a>
    <a asp-controller="Order" asp-action="List" class="list-group-item">Manage Order</a>
</div>
